body {
  background-color: #1e1e2f;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
  font-size: 14px; 
}

header h1 { 
  margin: 0; 
  font-size: 3rem; 
}
header p { 
  margin: 5px 0 15px; 
  color: #a1a1aa; 
  font-size: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.controls select {
  padding: 7px 10px;
  background-color: #2b2b3f;
  color: #e5e7eb;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 0.95rem;
  flex-shrink: 0;
  transition: width 0.2s;
}

.controls button {
  padding: 8px 15px; 
  border: 1px solid #444;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;
  background-color: white;
  color: black;
}

.ranges {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.ranges button {
  padding: 8px 15px; 
  background-color: #2b2b3f;
  border: 1px solid #444;
  border-radius: 5px;
  color: #e5e7eb;
  cursor: pointer;
  font-size: 0.95rem;
}

.ranges button.active {
  background-color: #2563eb;
}

.range-label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9rem;
}

.stats-grid {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.card {
  background-color: #2b2b3f;
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
}

.charts-grid {
  display: flex;
  gap: 10px;
}

.chart-card {
  background-color: #2b2b3f;
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  font-size: 1.2rem;
}

.volume-note {
  font-size: 1rem;
  color: #a1a1aa;
  text-align: center;
  margin-top: 5px;
}


#symbol {
  width: 75%; 
}
